<div class="page-header">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-4">
            <h2 ng-bind="tournament.name + ' ' + tournament.lake"></h2>
        </div>
    </div>
</div>

<button class="btn-sm btn-primary glyphicon-plus" ng-click="addBag()">Add Bag</button>
<h4>Bags</h4>
<div class="row">
    <div class="col-sm-2 firstPlace">First Place</div>
    <div class="col-sm-2 secondPlace">Second Place</div>
    <div class="col-sm-2 thirdPlace">Third Place</div>
    <div class="col-sm-2 fourthPlace">Fourth Place </div>
    <div class="col-sm-2 bigBass">Big Bass</div>
    <table class="table">
        <thead>
        <tr>
            <th>Team</th>
            <th>Total Weight</th>
            <th>Big Bass</th>
            <th class="hidden-sm hidden-xs"># Bass</th>
            <th class="hidden-sm hidden-xs"># Pike</th>
            <th class="hidden-sm hidden-xs"># Walleye</th>
            <th class="hidden-sm hidden-xs"># Crappie</th>
            <th class="hidden-sm hidden-xs"># Bluegill</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="bag.class" ng-repeat="bag in bags">
            <td ng-bind="bag._team.name"></td>
            <td ng-bind="bag.totalWeight"></td>
            <td ng-bind="bag.bigBass.weight"></td>
            <td class="hidden-sm hidden-xs" ng-bind="bag.numberOfBass"></td>
            <td class="hidden-sm hidden-xs" ng-bind="bag.numberOfPike"></td>
            <td class="hidden-sm hidden-xs" ng-bind="bag.numberOfWalleyes"></td>
            <td class="hidden-sm hidden-xs" ng-bind="bag.numberOfCrappies"></td>
            <td class="hidden-sm hidden-xs" ng-bind="bag.numberOfBluegills"></td>
        </tr>
        </tbody>
    </table>
</div>