<div class="page-header">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-4">
            <h2>Create Tournament</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class ="col-md-4">
        <form class="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="tournament.name" type="text" class="form-control" id="name" placeholder="Tournament Name"/>
            </div>
            <div class="form-group">
                <label for="lake">Lake Name:</label>
                <input ng-model="tournament.lake" type="text" class="form-control" id="lake" placeholder="Lake Name"/>
            </div>
            <div class="form-group">
                <input ng-model="tournament.date" type="date" class="form-control" id="date">
            </div>

            <button ng-click="save(tournament)" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>